html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #ffffff;
    color: #ffffff;
    min-height: 100vh;
    text-align: center;
    font-family: 'Roboto';
}

.logo {
    width: 130px;
    border-radius: 30%;
}

h2 {
    color: #000000;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 2px;
}

h2.difer {
    color: #000000;
    font-size: 14px;
    font-weight: normal;
    text-transform: capitalize;

}

div {
    background-color: #ffffff;
    width: inherit;
    height: 180px;
    background-size: contain;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14),
    0px 3px 14px 2px rgba(0, 0, 0, 0.12); 
}

p.titulo {
    background-color: #ffffff;
    color: #000000;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: bold;
    padding-bottom: 5px;
    letter-spacing: 1px
}

a, a.whatsapp {
	display: block;
    max-width: inherit;
    margin: 10px auto 15px auto;
    padding: 15px 20px;
    font-size: 0.85rem;
    color: #ffffff;
    border-radius: 10px;
    background-color: #34af23;
    text-decoration: none;
    transition: all 200ms ease-in-out;
}

a, a.facebook {
	display: block;
    max-width: inherit;
    margin: 10px auto 15px auto;
    padding: 15px 20px;
    font-size: 0.85rem;
    color: #ffffff;
    border-radius: 10px;
    background-color: #3b5998;
    text-decoration: none;
    transition: all 200ms ease-in-out;
}

a, a.tel {
	display: block;
    max-width: inherit;
    margin: 10px auto 15px auto;
    padding: 15px 20px;
    font-size: 0.85rem;
    color: #ffffff;
    border-radius: 10px;
    background-color: #6441a5;
    text-decoration: none;
    transition: all 200ms ease-in-out;

}

a, a.featured {
	display: block;
    max-width: inherit;
    margin: 10px auto 15px auto;
    padding: 15px 20px;
    font-size: 0.85rem;
    color: #ffffff;
    border-radius: 10px;
    background-color: #00bcf2;
    text-decoration: none;
    transition: all 200ms ease-in-out;

}